*/__pycache__/
/__pycache__/
__pycache__/
.pyc*
.ini*
imgs/*
library/
connect_mongo/
postgres/
.vscode
todo_project/
# blogging/
desktop.ini
.DS_Store
spamHam/ml/__pycache__
spamHam/spamHam/__pycache__
