{% extends 'base.html' %}
{% csrf_token %} 
{% block title %}App{% endblock title %}
{% block body %}
<div class="container mt-3 pt-2">
  <p class="display-6 ms-2 me-2 mt-2" style="color:brown">Submit your mail 📌</p>
  {% csrf_token %}
  <form action="prediction/" method="POST">
  {% csrf_token %}
    <div class="ms-2 me-2 mb-3 mt-2 w-75">
      <label for="exampleFormControlInput1" class="form-label">Past your mail below...</label>
      <!-- <input type="text" class="form-control" placeholder="John Doe" name="name"> -->
      <textarea name="text" class="form-control" id="txtId" rows="5"></textarea>
      <button type="submit" class="btn text-white bg-primary p-3.2 mb-2 mt-3" >Submit</button>
    </div>
  </form>
</div>
<div class="container">
  <h1 class="text-blue ms-2 me-2">Sample mails with labels</h1>
  <div class="card ms-2 me-2 bg-success text-white" style="height: 100wh;">
    <div class="card-body">
      <h5 class="card-title">Non Spam</h5>
      <p class="card-text">Dear Tom--H tom.h@hotmail.com'Friday December 11 2032 5:41 
        Hi, and greetings Swapnil here from BCG Gamma. 
        I'm your interviewer for todays schedule. 
        Please be present on the given time with all the necessary things that were mentioned in previous mail. 
        Thanks!
      </p>
      <a href="#" class="btn bg-white text-black ">Copy</a>
    </div>
  </div>

  <div class="card ms-2 me-2 mt-2 mb-3" style="max-width: 100wh">
    <div class="card-body ">
      <h5 class="card-title">Spam</h5>
      <p class="card-text">   swapnil.narwade3@gmail.com Job For You vacancy@job.shine.com 
        Do Not forward this mail, it contains links which allow direct login to your Shine account. 
        Emailer Dear Swapnil, Recruiter from Mercedes Benz Research And Development India Pvt.Ltd. is actively hiring
      </p>
      <a href="#" class="btn btn-primary">Read</a>
    </div>
  </div>
</div>
{% endblock body %}
