{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container mt-3">
    <h1 class="display-4" style="color: blueviolet; ">Swapnil Narwade</h1>
    <!-- <p class="display-6">Data Scientist</p> -->
    <p class="text" style="font-size: 18px; font-weight:300;">
        Data Science enthusiast with 6+ months of industry-levelexperience.
        Robust quantitative analysis and statistical modeling skills.
        Proficient in predictive modeling, data processing and data mining algorithms, as well as scripting languages,
        including Python and Java.
        Capable of creating, developing, testing and deploying highly adaptive diverse services to translate business
        and functional qualifications into tangible deliverables.
    </p>
</div>
<hr class="container border border-primary border-2 opacity-50">
<div class="container">
    <h1 class="" style="color: cadetblue;  font-family: 'Belanosima', sans-serif;">Email Classification App</h1>
    <p style="font-size: 18px; font-weight:300;">
        This is my machine learning project.
        This application takes your input string (Email-text) and tells you whether it's Spam or Not.
        Please head to form section to check.
    </p>
</div>
</div>
{% endblock body %}